body {
  background-color: #F5F5F5;
  padding: 28px;
}

body .main {
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 21px;
}

tr.deleted {
  background-color: #CCCCCC;
  color: #999999;
}

